<IfModule mod_rewrite.c>
   RewriteEngine on
   RewriteRule ^$ https://joyeria-kali-webservice-php.herokuapp.com/ [L]
   RewriteRule (^[^/]*$) https://joyeria-kali-webservice-php.herokuapp.com/$1 [L]
</IfModule>